@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/css?family=Work+Sans");


/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000;
  color: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #aeaeae;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #e28964;
}

.hljs-string {
  color: #65b042;
}

.hljs-subst {
  color: #daefa3;
}

.hljs-regexp,
.hljs-link {
  color: #e9c062;
}

.hljs-title,
.hljs-section,
.hljs-tag,
.hljs-name {
  color: #89bdff;
}

.hljs-class .hljs-title,
.hljs-doctag {
  text-decoration: underline;
}

.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #3387cc;
}

.hljs-params,
.hljs-variable,
.hljs-template-variable {
  color: #3e87e3;
}

.hljs-attribute {
  color: #cda869;
  
}

.hljs-meta {
  color: #8996a8;
}

.hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

.hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}

.hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

* {
  font-family: "Work Sans",sans-serif;
}



pre {
  background: #000;
  color: #f8f8f8;
}

pre * {
  font-family: Consolas,"Roboto Mono","Liberation Mono",Menlo,Courier,monospace
}

h1, h2 {
    text-rendering: optimizeLegibility;
}

.topper {
  /* font-family: "PT Sans", sans-serif; */
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1em;
    margin: .5em 0;
}


.inverse-topper {
  /* font-family: "PT Sans", sans-serif; */
    font-size: 64px;
    color:#494e52;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1em;
    margin: .5em 0;
    font-size: 1.7em;
}

.hero h3 {
  font-size: 0.81em;
  margin-top: 1rem;
}

.inverse-topper:after{

    content: " ";
    border-bottom: 3px solid #fff;
    border-width:50%;
    display: block;
    width: 7rem;
    margin-top: 8px;
    margin-top: .5rem;

}

a {
  text-decoration:none;
  color: cornflowerblue
}

.markdown {
  margin-top: 1.7rem
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  /* background: #fff; */
  /* color: #f8f8f8; */
  /* margin-bottom: 9rem; */
}

li a {
  text-decoration:none
}

header[role="banner"] {
  background: cornflowerblue;
  padding: 22px 0 0;
  margin-top: 12px;
  /* height: 70px; */
  height: 8rem;
  text-align: center;
  color: white;
  /* margin-bottom: 56px; */
  /* margin-bottom: -15px; */
}

header[role="banner"] h1 {
  margin: 0
}

header[role="banner"] h3 {
  font-size: 2.7rem;
}

header {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: cornflowerblue;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  margin-bottom: 15px;
  color: #607D8B;
  font-weight: 700
}

a {
  outline: none;
  transition: color ease 0.3s;
  text-decoration: none;
  color:cornflowerblue
}

h1 {
  font-weight: 300;
  font-size: 5rem;
  margin: 0;
  color: cornflowerblue;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 100;
  color: #442f34;
  color:rgba(0, 0, 0, 0.8);
  text-rendering: optimizeLegibility;
  line-height: 1;
  text-transform:none;
  line-height:1.2
}

h3{
  font-size: 2.7rem;
  /* color:#f07f23; */
  /* font-weight:"Fira Sans",sans-serif; */
  font-weight:300;
  line-height:1
}

html {
  font-size:14px
}

main, article {
  display:block
}

.content{
  max-width: 900px;
  margin: 1rem auto;
}

.page-content{
  max-width: 720px;
  margin: 1rem auto;
  color:'#1e1e1e1'
}

.page-content p {color:'#1e1e1e' !important}

.post {
  position: relative;
  width: 80%;
  margin: 3rem auto;
  padding-bottom: 3rem;
  border-bottom: #ccc 1px solid;
  word-break: break-word;
  hyphens: auto;
}

.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 2rem;
  color: #9EABB3;
  color:yellow
}

.post-meta a {
  color: #9EABB3;
  text-decoration: none;
}

.post-title {
  margin: 0;
  color:cornflowerblue
}

h2 {
  font-size: 2.5rem;
}

section {
  max-width: 960px;
  margin: auto;
}

.post-excerpt p {
  margin: 1.6rem 0 0 0;
  line-height: 1.6rem;
}

p, ul, ol, dl {
  /* margin: 1.6rem 0; */
  font-size: 1.28rem;
  line-height: 1.6;
  color:'#1e1e1e'
}

ol, ul {
  /* margin-left:1.6rem !important; */
}

header h1, header h3 {
  color:white
}


header[role="hero"] {
  padding: 1rem 0 4rem;
  background-color: #306ffd;
  background-image: linear-gradient(60deg,#306efe,#003ab7);
  text-align: center;
  color: #fff;
  position: relative;
}



.h3, .h4, h3, h4 {
  line-height: 1.5rem;
}



.h3, h3 {
  font-size: 21.328px;
  font-size: 1.333rem;
  /* font-family: Antonio,Open Sans,Helvetica Neue,Helvetica,Arial,"sans-serif"; */
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.hero h3:after {
  /* content: " ";
  border-bottom: 3px solid #fff;
  display: block;
  width: 20%;
  margin-top: .3rem; */
}

h1:after{
  content: "";
  border-bottom: 3px solid cornflowerblue;
  width:100%
}



.intro {
  padding-top: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.wrapper {
  width: 90%;
  max-width: 78rem;
  margin: auto;
}

.intro .leftside {
  max-width: 10rem;
  width: 20%;
}

.intro .text-col {
  max-width: 52rem;
  width: 80%;
  margin-right: 10%;
}

.cerico{
  color: #eadfc1;
}

.authorbio{
  color:#7e9aa3;
  color:rgb(138,177,214);
  color:#707274;
  color:#fff;
  font-weight:800
}
.headroom-wrapper{
  border-top: 2px solid #eadfc1;
}


  @media (max-width: 768px){
    .authorbio{
      display:none
  }

}

@media only screen and (orientation:portrait){
  .authorbio{
    display:none
}
}

@media (max-width: 768px){

.page-content{
 /* margin-left:50% */
}
}

.page-content a {
  color:#FF7980;
  color:#d2f0dc;
  text-decoration:underline
}