.hero{background:#b1d8e4}

.hero {
    padding: 2rem 4rem 3rem;
    position: relative;

}

body {
    margin-top:-47px;
    background:#FCF8ED !important
}


.hero__div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: -1px;
}

.hero h3 {
    /* font-size: 1em; */
}

.hero h1, h2, h3, h4, h5, h6 {
    /* margin: 2em 0 0.5em; */
    line-height: 1.2;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
    color: #494e52
}